p, h1 {
	font-family: "Helvetica"; 
	font-size: 14px;
	color: black;
	display: inline;
}

.title { 
	font-weight: 800;
	font-size: 20px;
}

.name {
	font-weight: 700;
}

.username {
	color: #A9A9A9;
	font-weight: 200;
}

.bar {
	height: 55px;
}

#middleCol {
	margin-bottom: 55px;
}

#tweet, #search {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none; 
    color: black;
}

#tweetbox {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #D3D3D3;
}

.btn {
	margin: 6px 15px;
	padding: 0;
}

#side, #trendingSide {
	flex-direction: column;
}

#trendingBox {
	border-radius: 20px;
}

#profButton {
	position: absolute;
	bottom: 0;
    right: 25%;
}

.btn-sm {
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Helvetica"; 
    font-weight: 600;
}

#search-group {
	border-radius: 20px;
}
/*Changes margin when media is small*/
@media (min-width: 576px) {
	#middleCol {
		margin-left: 16%;
		margin-right: 0%;
		margin-bottom: 0px;
		min-height: 100vh;
		z-index: 1;
	}

	#feed {
		margin-bottom: 0%;
	}
}

@media (min-width: 992px) {
	#middleCol {
		margin-left: 8%;
		padding: 0px;
	}

	#trendingSide {
		position: sticky;
		right: 0%;
	}

}